<!DOCTYPE html>
{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>PokerProHands</title>

    <link rel="stylesheet" type="text/css" href="{% static 'all_deals.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="{% static 'all_deals.js' %}"></script>
    <script src="{% static 'all_deals_server.js'%}"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">PokerProHands</div>
            <div class="login">
                <img src="{% static 'img/logout.svg'%}">log in
            </div>
        </div>
        <div class="nav">
            <button class="active"><img src="{% static 'img/ps_logo.svg' %}" class="room_logo">PokerStars.com</button>
            <button><img src="{% static 'img/ps_logo.svg' %}" class="room_logo">PokerStars.es</button>
            <button><img src="{% static 'img\wpn_logo.svg' %}" class="room_logo">WPN</button>
        </div>
        <div class="content">
            <div class="filters_details">
                <div class="filters_names">
                    <div class="date_name">
                        DATE
                    </div>
                    <div class="type_name">
                        TYPE
                    </div>
                    <div class="buy_in_name">
                        BUY-IN
                    </div>
                    <div class="table_size_name">
                        TABLE SIZE
                    </div>
                    <div>
                        SPEED
                    </div>
                </div>
                <div class="filters">
                    {{ form.start_date }}
                    to
                    {{ form.end_date }}
                    <div class="type">
                        <button class="type_button" onclick="toggleDropdown(); HandleTypeValue()" id="type_button">
                            All
                            <img class="chevron" src="{% static 'img/chevron_down.svg' %}">
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <label>{{ type_form.freezeout }}Freezeout</label>
                            <label>{{ type_form.knockout }}Knockout</label>
                            <label>{{ type_form.mystery }}Mystery</label>
                        </div>
                    </div>
                   <div class="buy_in">
                        <button class="buy_in_button" onclick="toggleDropdownBuyIn(); HandleBuyInValue()" id="buy_in_button">
                            All
                            <img class="chevron" src="{% static 'img/chevron_down.svg' %}">
                        </button>
                        <div id="buy_in_dropdown" class="dropdown-content">
                            <label>{{ buy_in_form.b33 }}$33</label>
                            <label>{{ buy_in_form.b44 }}$44</label>
                            <label>{{ buy_in_form.b55 }}$55</label>
                            <label>{{ buy_in_form.b82 }}$82</label>
                            <label>{{ buy_in_form.b109 }}$109</label>
                            <label>{{ buy_in_form.b162 }}$162</label>
                            <label>{{ buy_in_form.b215 }}$215</label>
                            <label>{{ buy_in_form.b320}}$320</label>
                            <label>{{ buy_in_form.b530 }}$530</label>
                            <label>{{ buy_in_form.b1050 }}$1050</label>
                            <label>{{ buy_in_form.b2100 }}$2100</label>
                            <label>{{ buy_in_form.b5200 }}$5200</label>
                            <label>{{ buy_in_form.b10300 }}$10300</label>
                            <label>{{ buy_in_form.b25000 }}$25000</label>
                        </div>
                    </div>
                    <div class="table_size">
                        <button class="table_size_button" onclick="toggleDropdownTableSize(); HandleTableSizeValue()" id="table_size_button">
                            All
                            <img class="chevron" src="{% static 'img/chevron_down.svg' %}">
                        </button>
                        <div id="table_size_dropdown" class="dropdown-content">
                            <label>{{ table_size_form.five_max }}5-max</label>
                            <label>{{ table_size_form.six_max }}6-max</label>
                            <label>{{ table_size_form.seven_max }}7-max</label>
                            <label>{{ table_size_form.eight_max }}8-max</label>
                            <label>{{ table_size_form.nine_max }}9-max</label>
                        </div>
                    </div>

                    <div class="speed">
                        <button class="speed_button" onclick="toggleDropdownSpeed(); HandleSpeedValue()" id="speed_button">
                            All
                            <img class="chevron" src="{% static 'img/chevron_down.svg' %}">
                        </button>
                        <div id="speed_dropdown" class="dropdown-content">
                            <label>{{ speed_form.slow }}Slow</label>
                            <label>{{ speed_form.regular }}Regular</label>
                            <label>{{ speed_form.turbo }}Turbo</label>
                            <label>{{ speed_form.hyper_turbo }}Hyper-Turbo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search_area">
                <div class="search">
                    <img src="{% static 'img\search.svg' %}">
                    <input type="text" placeholder="search tournaments" class="search_tournaments">
                </div>
                <img src="{% static 'img\info.svg' %}" class="search_info">
            </div>
            <table class="table">
                <thead>
                    <tr class="tournaments_info_names">
                        <th>Buy-In</th>
                        <th>Name</th>
                        <th><img src="{% static 'img\info.svg' %}"></th>
                        <th>Hands</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody id="content">

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>